body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.nav-menu{
    display: flex;
    background-color: #333;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    border-radius: 10px;
    float: left;
    display: block;
}

.nav-menu a:hover{
    background-color: #dddd;
    color: black;
}

.content{
    padding: 20px;
}

.footer{
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}






