body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #dfdfdf;
    padding: 10px;
    text-align: center;
}

.nav-menu{
    display: flex;
    background-color: #333;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    border-radius: 10px;
    float: left;
    display: block;
}

.nav-menu a:hover{
    background-color: #eee;
    color: black;
}

.content{
    padding: 20px;
}

.footer{
    background-color: #dfdfdf;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.form-group{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"], input[type="email"]{
    width: 300px;
    padding: 10px;
    border: 1px solid #a5a2a2;
    border-radius: 5px;
}
textarea{
    width: 300px;
    padding: 10px;
    border: 1px solid #a5a2a2;
    border-radius: 5px;
}

button{
    padding: 10px;
    border: 0px;
    background: #333;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

button:hover{
    background: #959595;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


